*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 10px;
}

.logo{
    width: 351;
    height: 113;
    display: inline-block;
    margin: auto;
}

header{
    text-align: center;
}

.search{
    text-align: center;
    background-color: #eee;
    width: 90%;
    margin: auto;
    padding: 2px;
}

.search-input{
    display: inline-block;
    width: 320px;
    height: 22px;
    padding: 1px 2px;
    border: 1px solid #000;
    border-radius: 2px;
}

.link{
    width: 90%;
    margin: auto;
    margin-top:2px;
}

.ilklink{
    width: 35%;
    text-align: center;
    background-color: #7ee5da;
    padding: 10px 20px;
    float: left;
    margin-right: 2px;
}

.ilklink li{
    list-style-type: none;
}

.yardimlink{
    width: 21.2%;
    text-align: center;
    background-color: #70CCC2;
    float: left;
    padding: 5px 30px;
    font-size: 13px;
    margin-right: 2px;
}

.yardimlink li{
    list-style-type: none;
}

.abonelink{
    width: 43.5%;
    float: left;
    text-align: center;
    background-color: #62B3AA;
    padding: 1px;
}


.abonelink p{
    font-size:14px;
}

.subscribe-email{
    display: inline-block;
}

.archive{
    font-size: 12px;
}

.foot{
    text-align: center;
    width:90%;
    margin: auto;
    padding: 20px 10px;
}

.foot p{
    font-size: 13px;
}

.clearfix{
    clear: both;
}